body { color: #000000; background-color: #FFFFFF; font-family: Arial,sans-serif; font-size: 12px;}

.footer-table{ text-align: center; font-size:x-small; background-color: transparent; margin-left:auto;
		margin-right:auto; width: 200px; height: 50px;}

.header-table{ text-align: center; font-size:x-small; background-color: #4B82B1; border-radius: 5px;
		 margin-top:10px; margin-left:auto; margin-right:auto; width: 280px; height: 52px;}

.login-table { text-align: center; background-color: #EB009C; margin-top:10px; border-radius:15px;
  		background-position:top center; margin-left:auto; margin-right:auto; width: 240px; height: 50px}
.login-table th { text-align: center; color: #FFFFFF; background-color: #000000;}
.login-table tr { height: 40px; }

.flash-table{ color:#FFFFFF; text-align:center; font-size:small; background-color: #4B82B1; border-radius: 5px;
  		background-position:top center; margin-left:auto; margin-right:auto; margin-top:10px; margin-bottom:10px;
  		width: 240px; height: 10px;	padding-top:5px; padding-right:5px; padding-left:5px; padding-bottom:5px;  		
  		}

.accent-table{ color:#000000; text-align:center; background-color: #FADE5B; border-radius: 10px;
  		margin-left:auto; margin-right:auto; width: 270px; height: 50px; margin-bottom:10px;
  		padding-top:10px; padding-right:10px; padding-left:10px; padding-bottom:10px}

div.copyright { color: #00000; font-size: 10px; text-align: center; vertical-align: center;}

div.authorize-greeting{ color: #FFFFFF; font-size: 22px; font-weight: bolder; text-align: center; vertical-align: top;}
div.authorize{ color: #FFFFFF; font-size: 12px; font-weight: bolder; text-align: center; vertical-align: top;}
div.authorize a:link { color: #FFFFFF;}
div.authorize a:active { color: #FFFFFF;}
div.authorize a:visited { color: #FFFFFF;}
div.authorize a:hover{ color: #DDDDDD;}

div.header{ color: #FFFFFF; font-size: 11px; font-weight: bolder; text-align: center; vertical-align: top;}
div.header a:link { color: #FFFFFF;}
div.header a:active { color: #FFFFFF;}
div.header a:visited { color: #FFFFFF;}
div.header a:hover{ color: #DDDDDD;}

div.login{ color: #FFFFFF; font-size: 11px; font-weight: bolder; text-align: center; vertical-align: top;}
div.login a:link { color: #FFFFFF;}
div.login a:active { color: #FFFFFF;}
div.login a:visited { color: #FFFFFF;}
div.login a:hover{ color: #DDDDDD;}

.btnLogin {	color: #4B82B1; background: #FFFFFF; font-weight :bold;	font-size: 25px;text-transform:uppercase;
		border: 1px;	margin-top: 15px; margin-bottom: 10px; border-radius:5px}			
.btnLogin:hover { color:#FFFFFF; background: #4B82B1;}
.inputLogin {color: #4B82B1; padding:2px; font-size: 20px; border-radius:5px; width:180px}

.btnAuthorize {	color: #4B82B1; background: #FFFFFF; font-weight :bold;	font-size: 200%; text-transform:uppercase; border: 1px;
				margin-top: 5px; margin-bottom: 10px;}
.btnAuthorize:hover { color:#4B82B1; background: #EEEEEE;}
.inputAuthorize { color: #4B82B1; padding:2px; font-size: 20px; border-radius:5px; width:180px}

.btnRegister { color: #4B82B1; background: #FFFFFF; font-weight :bold;	font-size: 25px;
			text-transform:uppercase; border: 1px;	margin-top: 15px;
			margin-bottom: 10px; border-radius:5px}
.btnRegister:hover { color:#FFFFFF;	background: #4B82B1;}
.inputRegister { padding:2px; font-size: 20px; border-radius:5px; width:180px }
.inputRegisterPassword {color: #4B82B1; padding:2px; font-size: 20px; border-radius:5px; width:85px}