<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Platybox</display-name>
  <description> API </description>
  <error-page>
    <error-code>404</error-code>
    <location>/error</location>
  </error-page>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>appServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/PlatyboxDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>RequestTokenServlet</servlet-name>
    <servlet-class>com.platybox.provider.servlets.RequestTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestTokenServlet</servlet-name>
    <url-pattern>/request_token</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>AccessTokenServlet</servlet-name>
    <servlet-class>com.platybox.provider.servlets.AccessTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessTokenServlet</servlet-name>
    <url-pattern>/access_token</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>QrVisitServlet</servlet-name>
    <servlet-class>com.platybox.visit.QrVisitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QrVisitServlet</servlet-name>
    <url-pattern>/qr/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description>
	</description>
    <display-name>InitializeDatabase</display-name>
    <servlet-name>InitializeDatabase</servlet-name>
    <servlet-class>com.platybox.utils.database.InitializeDatabase</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <session-config>
     <session-timeout>10080</session-timeout> 
  </session-config>
  
  
</web-app>